@font-face {
    font-family: 'textura';
    src: url('../font/eng-old/BeckettRegular-8zj0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'textura', sans-serif;
}
